# Firebase Config
VITE_FIREBASE_API_KEY=COLE_AQUI
VITE_FIREBASE_AUTH_DOMAIN=COLE_AQUI
VITE_FIREBASE_PROJECT_ID=COLE_AQUI
VITE_FIREBASE_STORAGE_BUCKET=COLE_AQUI
VITE_FIREBASE_MESSAGING_SENDER_ID=COLE_AQUI
VITE_FIREBASE_APP_ID=COLE_AQUI

# Cloudinary Config (Se for usar)
VITE_CLOUDINARY_CLOUD_NAME=COLE_AQUI
VITE_CLOUDINARY_UPLOAD_PRESET=COLE_AQUI
